// /* html { font-size: 32px; } */
header {
  text-align: center;
  margin: 0;
}
header h1 {
  font-size:3rem;
  font-weight: 900;
  margin: 0;
}

canvas {
  background-color: #ed8fd1;
  border-radius: 8px;
  text-align: center;
}

#myFace ,#peerFace{
  background-color: #ed8fd1;
  border-radius: 8px;
}

.toolbar {
  margin-left: 5px;
}